extends layout

block scripts
    script(src="javascripts/index.js")

block content
    div(id='content')
        h1=title
        table(id='monats-dienstplan')
            tr
                th(id='week-day-column')
                th(id='day-column')
                th(class='name-column') Name
                th(class='name-column') Reservetermin
                th(class='name-column') Zweiter Reservetermin
            for row in rows
                if row.week_change
                    tr
                        td(colspan=5 class='new-week')
                else
                    tr
                        if row.sunday
                            td(class='sunday')=row.weekday
                            td(class='sunday')!=row.day_of_month + '.&nbsp;' + month
                        else
                            td=row.weekday
                            td!=row.day_of_month + '.&nbsp;' + month
                        if row.primary_id
                            td(
                                id='primary_' + row.day_of_month
                                title=row.primary_id
                            )
                        else
                            td(
                                id='primary_' + row.day_of_month
                                title=row.primary_id
                            )
                        if row.reserve_id
                            td(
                                id='reserve_' + row.day_of_month
                                title=row.reserve_id
                            )
                        else
                            td(
                                id='reserve_' + row.day_of_month
                                title=row.reserve_id
                            )
                        if row.second_reserve_id
                            td(
                                id='secondReserve_' + row.day_of_month
                                title=row.secondary_reserve_id
                            )
                        else
                            td(
                                id='secondReserve_' + row.day_of_month
                                title=row.secondary_reserve_id
                            )
