extends layout

block scripts
    script(src="/javascripts/dom.js")
    script(src="/javascripts/index.js")

block content
    div(id='content')
        div#title
            h1=title
            a(href="/menu")
                img(src="/images/gear-icon.png" width=32 height=32)
        div(id='date-navigation')
            span
                a(href=previousYearLink) <<
            span
                a(href=previousMonthLink) <
            span
                a(href="/") Aktuell
            span
                a(href=nextMonthLink) >
            span
                a(href=nextYearLink) >>
        div#subtitle
            h2=user_name
            a(href='/pdf/months/' + month.year + '/' + month.month) PDF
        table(id='monats-dienstplan')
            tr
                th(id='week-day-column')
                th(id='day-column')
                th(class='name-column') Name
                th(class='name-column') Reserve
                th(class='name-column') 2. Reserve
            for row in rows
                if row.week_change
                    tr
                        td(colspan=5 class='new-week')
                else
                    tr
                        td=row.weekday
                        td!=row.day_of_month + '.' + month.month
                        td(
                            id='primary_' + row.day_of_month
                            class='day_cell'
                        )
                        td(
                            id='reserve_' + row.day_of_month
                            class='day_cell'
                        )
                        td(
                            id='secondReserve_' + row.day_of_month
                            class='day_cell'
                        )
    div(id='selectionDialog' class='dialog')
        div(class='dialog-content')
            p(id='userSelectionText' class='dialog-title')
            div(id="selectionButtons" class='dialog-buttons')
                button(id='cancelUserSelectionButton' class='dialog-button')="Zurück"
    div(id='confirmationDialog' class='dialog')
        div(class='dialog-content')
            p(id='bookingConfirmationText' class='dialog-title')
            div(class='dialog-buttons')
                button(id='cancelBooking' class='dialog-button')="Zurück"
                button(id='confirmBooking' class='dialog-button')="Ja"
