extends layout

block scripts
    script(src="/javascripts/common/listview/listView.js")
    script(src="/javascripts/dom.js")
    script(src="/javascripts/userAdministration.js")

block content
    div(id='content')
        h1="Benutzerverwaltung"
        button(id='editUserButton' class='dialogButton')="Bearbeiten"
        button(id='addUserButton' class='dialogButton')="Neuer Benutzer"
        button(id='resetPasswordButton' class='dialogButton')="Passwort-Reset"
        div#userListContainer
        p(id="errorMessage")
    div(id='editUserDialog' class='dialog')
        div(class='dialogContent')
            p(id='editUserDialogTitle' class='dialogTitle')
            div(class='dialogButtons')
                p
                    label Name
                        br
                        input(type='text' id='editUserNameInput')
                p
                    label
                        input(type='checkbox' id='editUserAdministratorInput')
                        | Administrator
                button(id='saveUserButton' class='dialogButton')="Speichern"
                button(id='cancelEditUserButton' class='dialogButton')="Zurück"
